<ion-header class="ion-no-border">
  <ion-toolbar> 
    <ion-title class="p-4">
      Sedes activas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding" >
    <div class="">
      <h4 button="true" routerLink="/login" class="p-4">Regresar al login </h4>     
    </div>
    

    <ion-grid fixed>
      
      <ion-row>
        <div class="">
          <h4 class="p-4">Bogotá </h4>
          
        </div>
        <ion-col size="12">
          <ion-card class="medium" button="true" routerLink="/scanqr">
            <ion-row>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                    <ion-icon name="location-outline" class="fl"></ion-icon>
                    <p>Cl. 72 ##10-34</p> 
                    <h2>CC Avenida Chile</h2>
                  </div>
                </ion-card-content>
              </ion-col>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                  
                    <p class="mb">Horario de 
                    <br>atencion</p> 
                    <ion-icon name="time-outline" class="fl"></ion-icon>
                    <p>8:00AM <br>5:00PM</p> 
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="medium" button="true" routerLink="/scanqr">
            <ion-row>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                    <ion-icon name="location-outline" class="fl"></ion-icon>
                    <p>Cra. 11 ##82-71</p> 
                    <h2>CC Andino</h2>
                  </div>
                </ion-card-content>
              </ion-col>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                  
                    <p class="mb">Horario de 
                    <br>atencion</p> 
                    <ion-icon name="time-outline" class="fl"></ion-icon>
                    <p>8:00AM <br>5:00PM</p> 
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>

        <div class="">
          <h4 class="p-4">Cali </h4>          
        </div>
    
        <ion-col size="12">
          <ion-card class="medium" button="true" routerLink="/scanqr">
            <ion-row>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                    <ion-icon name="location-outline" class="fl"></ion-icon>
                    <p>Cra. 98 #16-200</p> 
                    <h2>CC Jardin Plaza</h2>
                  </div>
                </ion-card-content>
              </ion-col>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                  
                    <p class="mb">Horario de 
                    <br>atencion</p> 
                    <ion-icon name="time-outline" class="fl"></ion-icon>
                    <p>8:00AM <br>5:00PM</p> 
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="medium" button="true" routerLink="/scanqr">
            <ion-row>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                    <ion-icon name="location-outline" class="fl"></ion-icon>
                    <p>Calle 16a #121a -214</p> 
                    <h2>Palo Alto</h2>
                  </div>
                </ion-card-content>
              </ion-col>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                  
                    <p class="mb">Horario de 
                    <br>atencion</p> 
                    <ion-icon name="time-outline" class="fl"></ion-icon>
                    <p>8:00AM <br>5:00PM</p> 
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
       
        <div class="">
          <h4 class="p-4">Medellín</h4>       
        </div>
    
        

        <ion-col size="12">
          <ion-card class="medium" button="true" routerLink="/scanqr">
            <ion-row>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                    <ion-icon name="location-outline" class="fl"></ion-icon>
                    <p>Cra. 48 ##10-45</p> 
                    <h2>CC Monterrey</h2>
                  </div>
                </ion-card-content>
              </ion-col>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                    
                    <p class="mb">Horario de 
                    <br>atencion</p> 
                    <ion-icon name="time-outline" class="fl"></ion-icon>
                    <p>8:00AM <br>5:00PM</p> 
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="medium" button="true" routerLink="/scanqr">
            <ion-row>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                    <ion-icon name="location-outline" class="fl"></ion-icon>
                    <p>Cra. 25a ##1a Sur 45</p> 
                    <h2>CC El tesoro</h2>
                  </div>
                </ion-card-content>
              </ion-col>
              <ion-col size="6">
                <ion-card-content>
                  <div class="title">
                    
                    <p class="mb">Horario de 
                    <br>atencion</p> 
                    <ion-icon name="time-outline" class="fl"></ion-icon>
                    <p>8:00AM <br>5:00PM</p> 
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>

        
      </ion-row>
    </ion-grid>

  </div>



</ion-content>